<!DOCTYPE html>
<html ng-app="Sectors">

<head lang="en">
	<meta charset="UTF-8">
	<title>Bread and Bucks</title>
	<!-- <link rel="icon" type="image/png" href="Images/apple.png"> -->
	<link rel="stylesheet" type="text/css" href="mainpage.css">
</head>
<body >

	<main>
		<header>
			<h1>BREAD AND BUCKS</h1>
		</header>
		
		<section ng-controller="getSector as gs" >
			<div class="menu">
				<!-- Button to open the modal login form -->
				<button onclick="document.getElementById('id01').style.display='block'" style="margin-left:70%;">Login</button>

				<!-- The Modal -->
				<div id="id01" class="modal">
					<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

					<!-- Modal Content -->
					<form class="modal-content animate" >
						<div class="imgcontainer">
							<img src="Images/login_img.png" alt="Login Image" class="avatar">
						</div>

						<div class="container">
							<label><b>Username</b></label>
								<input type="text" placeholder="Enter Username" id="uname" required><br>

							<label><b>Password</b></label>
								<input type="password" placeholder="Enter Password" id="psw" required><br>

							<button type="submit" ng-click="gs.login()">Login</button><br>
		
						</div>

						<div class="containercan" >
				
							<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
							
						</div>
					</form>
				</div>

			
			</div>
		
		
			<div id="nav-wrapper" >
				<ul id="nav">
					
						<li><a>Home</a></li>
						<li><a>MY PAGE</a></li>
						<li><a>SIGN IN</a></li>
						<li><a>ABOUT</a></li>
						<li><a>REVIEWS</a></li>
						<li><a>********************* SECTORS ********************* &#9662;</a>
				
						<ul class="dropdown" >
						<li ng-repeat="item in content" ng-click="gs.submit(item.name)"><a class="dropanch">{{item.name}}  {{item.symbol}}</a><br></li>
							<li>
								
							</li>
							
							
					
						</ul>
					</li>
					
				</ul>
				
				
	
				</div>



			
		</section>
		
	</main>
	<footer>
		<p>
			*DISCLAIMER:
		</p>
	
	</footer>
	</div>
	<script>
			// Get the modal
			var modal = document.getElementById('id01');

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
					if (event.target == modal) {
						modal.style.display = "none";
					}
			}
	</script>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
	</script>
	<script type="text/javascript">
	var app = angular.module('Sectors', []);
	
	app.controller('getSector', function($scope, $http) {
		
			window.onload=function()
			{

				$http.get('http://localhost:8080/RestDemoService/sectorDisplay')
					.then(function(response) {
        $scope.content = response.data;
        
        $scope.statustext = response.status;

		
        
											});
					
			};
	
	this.submit = function(UIname) {
		var varname =  UIname;

		$http.post('http://localhost:8080/RestDemoService/securityDisplay',varname)
		.then(function(response){			//Anonymus function for success callback
		
			console.log(response.data);		//Prints success log
			
			
		},function(response){				//Anonymus function for error callback
		
			console.log("There was an error: " + response.status + " " + response.statusText);
											//Prints error log
							});
			
		};
		
	this.login=function()
	{ var Uname=document.getElementById('uname');
	  var Upswd=document.getElementById('psw');
	  this.submit(Uname,Upswd);
	
	};
	
	});
</script>
	
</body>
</html>