
.titleName{
	margin-left:300px;
    margin-top:10px;
	text-align:center;
	display:inline;
	background-color:#F0E68C;

}	

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
	margin-top:50px;
    padding: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #339bce;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}


.dropdown {
    position: absolute;
    display: inline-block;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
	 position: absolute;
	 background-color: #f9f9;
}

	
.containercan
{
	background-color:#f1f1f1;
}	
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
	margin-top:0px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 45px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0px auto; /* 15% from the top and centered */
	margin-top:00px;
    border: 5px solid #888;
    width: 50%;		/* Could be more or less, depending on screen size */
	height: 65%;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password]  ,input[type=email] ,input[type=phone]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
	position: absolute;
    margin: 3px 0;
	margin-top:10px;
    border: none;
    cursor: pointer;
    width: 20%;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
	margin-top:40px;
	margin-left:15px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*sign up */

.Sgn{
	display:block;
}
body {
  font-family: 'Titillium Web', sans-serif;
}


.form {
  
  padding: 00px;
  max-width:50%;
  max-height:100%;
  margin:40px auto;
  margin-top:00px;

}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 70px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
   
    color:$gray-light;
    font-size:10px;
    float:left;
    width:90px;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(-30px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:95%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:44%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

.bckimg
{
	width:100%;
	height:700px;
	visibility:block;
	padding-top: 00px;
    padding-bottom: 50px;
}

table {
    border-collapse: collapse;
    width: 90%;
	margin-left:20px;
	margin-right:50px;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

.mypagetable
{
	display:block;
}

.mysec
{
	padding-top:00px;
	display:block;
}

footer{
    position:relative;
    height:10%;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}