/* #container3{ */
/* 	width:1024px; */
/* 	margin:0px auto; */
/* } */
.titleName{
	margin-left:28.30%;
    margin-top:1%;
	text-align:center;
	display:inline;
	background-color:#F0E68C;

}	

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
	margin-top:4.4%;
	height:10%;
    padding: 1.1%;
    overflow: hidden;
    border: 2% solid #ccc;
    background-color: #339bce;
    cursor :pointer;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
	width:8%;
}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 2% 1%;
    text-decoration: none;
    transition: 0.1s;
    font-size: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focs, .active {background-color: #ccc;}


.dropdown {
    /*position: absolute;*/
    /*display: inline-block;*/
	position:absolute;
	right:70%;
	list-style-type: none;
	top:40%;
	width : 20.57%;
	height : 9.25%;
	border-width:5px;
	font-text:Times New Roman;
	/* background : url(https://sector-project.eu/fileadmin/downloads/SECTOR_logo_PRINT.jpg) no-repeat; */
	/*text-decoration: underline;*/
	border-radius : 1.95% 0.78%;
	padding : 0.20%;
	/* background-size : 120%;
	background-repeat : no-repeat;
	background-position : 60% 45%;
 */	
	/*opacity : .8;*/
	/*background-color: #A0522D;*/
	cursor : pointer;
	/* z-index : 2; */
	
}


h2 { 
   position: fixed; 
   top: 15.62%; 
   left: 0; 
   width: 100%; 
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: white;
    min-width: 21.87%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,5);
    padding: 1.56% 2%;
    z-index:3 ;
    width:90%;  
    /* font-size : 100%; */
     
}

.dropdown:hover .dropdown-content {
     display: block;
	 position: absolute; 
	 background-color: #f9f9;
	 top : 90%;
	 width : 90%;
}


.dropdown-content a {
    color: black;
    padding: .5% 1%;
    text-decoration: none;
    display: block;
    font-size:90%;
}

.dropdown:hover .dropdown-content a:hover {
	background-color:#A9A9A9 ;
}
	
.containercan
{
	background-color:#f1f1f1;
}	
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
	margin-top:0px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 3.51%;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0px auto; /* 15% from the top and centered */
	margin-top:00px;
    border: 0.39% solid #888;
    width: 50%;		/* Could be more or less, depending on screen size */
	height: 60%;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: relative;
    right: 1.95%;
    top: 0; 
    color: #000;
    font-size: 2.73%;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* form {
     border: 3px solid #f1f1f1; 
} */

input[type=text], input[type=password]  ,input[type=email] ,input[type=phone]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
	position: absolute;
    margin: 3px 0;
	margin-top:4px;
    border: none;
    cursor: pointer;
    width: 20%;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
	margin-top:40px;
	margin-left:15px;
}

.imgcontainer {
    text-align: center;
    margin: 1.875% 0 0.93% 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    
}

span.psw {
    float: right;
    padding-top: 1.25%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 720px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

/*sign up */

.Sgn{
	display:block;
}
body {
  font-family: 'Titillium Web', sans-serif;
}


.form {
  
  padding: 00px;
  max-width:50%;
  max-height:100%;
  margin:40px auto;
  margin-top:00px;

}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 5.46% 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
 
  
  li a {
    display:block;
    text-decoration:none;
    padding:1.17%;
   
    color:$gray-light;
    font-size:0.78%;
    float:left;
    width:7.03%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}


h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

label {
  position:absolute;
  transform:translateY(-30px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:95%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:44%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

.bckimg
{
	width:100%;
	height:90%;
	visibility:block;
	padding-top: 00px;
    padding-bottom: 50px;
    display:inline-block;
    position: absolute; 

}
h2 { 
	
   position: absolute; 
   top: 30.62%; 
   left: 60.31%; 
   width: 100%;
   font-family : "Times New Roman",Times,Serif;
   text-indent : -3.90%;
   font-size : 300%;
   word-spacing : 0.78%;
   text-shadow : 5px 4px black;
}

table {
    border-collapse: collapse;
    width: 90%;
	margin-left:20px;
	margin-right:50px;
}

th, td {
    text-align: left;
    padding: 16px;
    height : 40%;
    font-size : 12px;
}

tr:nth-child(even){
	background-color: #f2f2f2
}

.mypagetable
{
	display:block;
}

.mysec
{
	padding-top:00px;
	display:block;
	width:700px;
	height:500px;
}

.sectab
{
	font-size:8px;
	text-align:center;
}

.savebtn
{
	position:relative;
	width:60px;
  	background-color: #e7e7e7;
  	color: black;
}


.marquee{
	color : #8B0000;
}


.tooltip{
	position:relative;
	z-index:4;
	width:60%;
	color:white;
}

.tooltip span{
	display : none;
}
.tooltip:hover{
	z-index:5;
}
.tooltip:hover span {
	display:block;
	width:50%;
	height:70%;
	color:#FFF;
	background:#535663;
	font-size:11px;
	position:absolute;
	border-radius:6px;
	left:80%;
}
.about
{
	display:block;
	background-color:#339bce;
	color:white;
	padding:5%;
}
.image{
	width:100%;
	padding-left:28%;
}
.sector{
	display:block;
	background-color:#339bce;
	color:white;
	padding:1%;
}

h3{
	text-decoration:underline;
	text-align:center;
	color:black;
}
p{
	text-align:center;
	font-size:140%;
}
.homeinfo{
	background-color:white;
	color:black;
	padding-top:45%;
	padding-left:10%;
	padding-right:10%;
}
.widget
{
	/* display:block; */
	padding-top:5%;
	padding-left:40%;
}



footer{
    position:absolute;
    display:block;
    height:5%;
    bottom:0%;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
@media screen and (max-width: 1280px) {
    .tab { width:100%; }
    .modal { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-device-width : 720px) {
	
	.homeinfo{
	padding-top:95%;}
	p{
	font-size:80%;}
	.image{
	padding-left:0%;}
    .tab { 
    margin-top:50%;
    width:100%;
    text-decoration: none;
    transition: 0.3s;
    font-size:1rem; }
    
    .cancelbtn{width:20%;}
    
    .dropdown{width:32%;
    right:65%;
    }
    element {
    font-size=15pt;}
    
    h2{font-size:150%;
    left : 40%;
    text-shadow : 2px 1px black;
    top:35%;
    }
   
   html {font-size:100%;}
   
   ul.tab{margin-top:15%;}
   ul.tab li{width:16%;}
   
   button{padding:14px 5px;}
   
   ul.tab li a{font-size:95%;
   padding : 10% 10%;}
   
   ul.tab li a:hover {
	background-color: #ddd;
	height:30%;
	}
	.bckimg{height:60%;}
	
	.button{font-size:1rem;}
	.modal-content{
	width:70%;}
	
   .form {max-width:80%;}
   
   input,textarea{height:50%;}
   
   h1{height:15%;}
   
   input[type=text], input[type=password]  ,input[type=email] ,input[type=phone]{padding:6px 10px;}
	
  .modal { width:100%; margin:0; border:none; }
}
